<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="">
        <meta name="description" content="">

        <title>BITCODE</title>
        
        <!-- Loading Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Loading código CSS -->
        <link href="css/style.css" rel="stylesheet" media="screen and (color)">

        <!-- Awsome Fonts -->
        <link href="css/all.min.css" rel="stylesheet">

        <!-- Favicon -->
        <link href="images/logoPNG.png" rel="shortcut icon">
    </head>

    <body>
        <!--Begin Header-->
        <header class="header">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <nav class="navbar navbar-expand-lg">
        
                        <a href="index.html" rel="home">
                            <img class="logomenu" src="images/logo-negativo.png" alt="BIT CODE" title="Bit Code">
                        </a>
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                                <i class="fas fa-bars"></i>
                            </span>
                        </button>
        
                        <div class="navbar-collapse collapse" id="navbarCollapse">
                            <ul class="navbar-nav ml-auto 1  left-menu">
                                <li><a href="./index.html">Home</a></li>
                                <li><a href="./sobre.html">Sobre o Projeto</a></li>
                                <li><a href="./atendimento.html">Atendimento</a></li>
                                <li><a class="btn btn-menu" href="./cadastrar.html" role="button"><img class="imgperfil" src="images/perfil.svg"> Cadastro</a></li>
                            </ul> 
                            
                        </div>
                    </nav>
                </div> 
            </nav>
        </header>
        <!--End Header-->


        <!-- --------------- CONTEÚDO DA PÁGINA ----------------->

        <!-- Begin Section 01 -->
        <section class="section01" id="home">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="sec01titleh1">Bem-vindos</h1>
                        <p class="sec01ph1">Na era digital, o avanço da tecnologia traz consigo um desafio significativo: o manejo adequado dos resíduos eletrônicos. Pensando nisso, a BitCode, uma empresa comprometida com a sustentabilidade e a inovação, lançou um projeto inovador para promover o descarte correto desses resíduos.</p>


                        <p class="sec01ph2">A missão da BitCode é contribuir para um futuro mais sustentável por meio da gestão responsável de resíduos eletrônicos. A empresa busca garantir que dispositivos como celulares, computadores, televisores, impressoras, baterias e outros componentes eletrônicos sejam descartados de maneira segura, com foco na recuperação de recursos e na proteção ambiental.</p>                 
                    </div>
                    <div class="col-md-6">
                        <h2 class="sec01titleh2">Integrantes do Projeto</h2>
                        <div class="card">
                            <img src="images/imgpedrow.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="sec01phinte">Pedro Welder</p>
                            </div>
                        </div>

                        <div class="card2">
                            <img src="images/imgpedror.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="sec01phinte">Pedro Rodrigues</p>
                            </div>
                        </div>

                        <div class="card3">
                            <img src="images/imgisadora.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="sec01phinte">Isadora</p>
                            </div>
                        </div>

                        <div class="card4">
                            <img src="images/imgjulliany.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="sec01phinte">Julliany(líder)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section 01 -->

        <!-- Begin Section 02 -->
        <section class="section02" id="Section 02">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    <h1 class="sec02title1">Objetivo do Projeto<h1>

                    <p class="sec02ph1">O projeto da BitCode visa conscientizar a população sobre a importância do descarte responsável de equipamentos eletrônicos, como celulares, computadores e eletrodomésticos. Nossa meta é reduzir o impacto ambiental causado pelo acúmulo de lixo eletrônico e incentivar práticas sustentáveis.</p>

                    <div class="sec02lbocoimg">
                        <img  class="sec02imgmob" src="images/imgsec02caminhao.jpg">
                    </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section 02 -->

       <!-- Begin Section 03 -->
        <section class="section03" id="Section 03">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="sec03titleh2">Ações Implementadas</h2>
                    </div>
                    <div class="col-md-4">
                        <div class="sec03bloco1">
                            <img class="imgtm" src="images/sec03img1.svg">
                            <h3 class="sec03title">Pontos de Coleta</h3>
                            <p class="sec03ph">Criamos uma rede de pontos de coleta em parceria com lojas de eletrônicos e centros comunitários. Esses locais são equipados para receber dispositivos eletrônicos sem custo, garantindo que sejam adequadamente reciclados.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sec03bloco1">
                            <img class="imgtm" src="images/sec03img2.svg">
                            <h3 class="sec03title">Reciclagem e Reutilização</h3>
                            <p class="sec03ph">Trabalhamos em colaboração com empresas especializadas em reciclagem de eletrônicos. Os equipamentos coletados são triados, e os componentes reutilizáveis são recuperados, minimizando a geração de resíduos.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sec03bloco1">
                            <img class="imgtm"src="images/sec03img3.svg">
                            <h3 class="sec03title">Incentivos para Descarte</h3>
                            <p class="sec03ph">Oferecemos incentivos para quem participar do programa de descarte, como a chance de ganhar prêmios.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        <!-- End Section 03 -->  

        <!-- Begin footer-->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="footerp1">
                            © <span id="footer-year"></span> © Todos os direitos reservados - BitCode </p>
                    </div>
                </div>
            </div>
        </div>
        <!--End footer-->


        <!-- Load JS =============================-->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/jquery.scrollTo-min.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>